@import "respansive.css"; 
html{
                font-size:10px;
            }
            /* Books */
            .book{
                font-size:1.1rem;
            }
            .book-card{
                border-radius:1rem;
                width:60rem;
                transition:all .2s;
                z-index:5;
            }
            /* .book-card:hover .bookmark{
                 opacity:1; 
            } */
            .book-img{
                min-height:33.3rem;
                max-height:33.3rem;
                border-radius:10px !important;
                width:100%;
                background-size:cover;
                position:relative;
            }
            #new-books{
                padding-top:5rem;
            }
            #new-books .book-img{
                max-width:100%;
                min-height:23.9rem;
            }
            #new-books .book-img img{
                max-height:23.9rem;
                min-height:23.9rem;
            }
            #new-books .book-bg{
                top:-.4rem;
                max-height:23.9rem;
                min-height:23.9rem;
            }
            #new-books .book-button{
                width:9rem;
                height:3rem;
                font-size:1.2rem;
            }
            .book-img img{
                width:100%;
                max-height:33.3rem;
                border-radius:10px !important;
            }
            .book-bg{
                position:absolute;
                top:0;
                left:0;
                height:99%;
                margin-top:1%;
                width:22rem;
                border-radius:10px;
                opacity:0;
                background:#262626;
                transition:all .2s;
            }
            .book-button{
                font-size:1.5rem;
                border:none;
                background:#5AB5F1;
                border-radius:40px;
                height:4rem;
                width:12rem;
                padding:0 !important;
                color:white;
                position:absolute;
                left:50%;
                transform:translateX(-50%);
                bottom:10%;
                display:none;
                transition:all .2s;
            }
            @font-face {
                font-family: 'jisazn';
                src: url('../fonts/jaznb.ttf');
            }
            .money {
                font-family: jisazn !important;
                color:#686868;
            }
            .book-card .money, .price{
                font-size:1.5rem;
            }
            .author{
                font-size:1.3rem;
                color:#B5B5B5 !important;
            }
            .book-card h5{
                font-size:1.5rem;
                color:#686868;
            }

            .book-card:hover{
                -webkit-box-shadow: 0px 3px 17px -8px rgba(112,112,112,0.69);
                -moz-box-shadow: 0px 3px 17px -8px rgba(112,112,112,0.69);
                box-shadow: 0px 3px 17px -8px rgba(112,112,112,0.69);
            }
            .book-card:hover .book-bg{
                opacity:0.56;
            }
            .book-card:hover .book-button{
                display:inline-block;
            }
            .price{
                font-weight:normal;
                color:#686868;
            }
            .book-card:hover .price{
                font-weight:bold;
            }
            .book-card:hover .bookmark{
                top:0;
            }

            .load-more{
                border:none;
                cursor:pointer;
                background:#5AB5F1;
                border-radius:40px;
                font-size:1.5rem;
                color:#fff;
            }
/* new books */
#new-books .book-card{
    width:18rem
}
#new-books .book-img{
    min-height:23.1rem;
    max-height:23.1rem;
}
#new-books .book-img img{
    max-height:23.1rem;
}
/* Search Books */
.i-have-button{
    background:#5AB5F1;
    color:#fff; 
    font-size:1.5rem;
    border-radius:40px;
}
.i-have-button:hover{
    background:rgb(69, 164, 228);
    transition:all .5s;
}
.situation{
    font-size:1.3rem;
    color:#B5B5B5 !important;
}
    .bookmark-block{
        position:relative;
        height:4rem;
    }
    .bookmark{
        position:absolute;
        top:0;
        z-index:6000;
        transition:all .5s;
        right:4%;
        width:1.857rem;
        height:3.183rem;
        opacity:0;
        cursor:pointer;
    }
.row{
    width:100%;
}
/* -------------------------------------------------------------------- */
@media screen and (max-width:1200px){
    .book-img{
        min-height: 38rem;  
    }
    .book-img img{
        min-height: 38rem;
    }

    #menu ul li{
        margin:0 1rem;
    }
    #menu ul li{
        padding:0 .20rem !important;
    }

    /* bookmarks , #my-announcements */
    #book-sell .book-img,#book-looking .book-img, #my-announcements .book-img{
        min-height:42rem;
    }
    #book-sell .book-img img,#book-looking .book-img img, #my-announcements .book-img img{
        min-height:42rem;
    }

}
@media screen and (max-width:992px){
    .book-img{
        min-height: 45rem;  
    }
    .book-img img{
        min-height: 45rem;
    }
    /* bookmarks */
    #book-sell .book-img,#book-looking .book-img, #my-announcements .book-img{
        min-height:55rem;
    }
    #book-sell .book-img img,#book-looking .book-img img, #my-announcements .book-img img{
        min-height:55rem;
    }
}
@media screen and (max-width:768px){
    .book-img{
        min-height: 52rem;  
    }
    .book-img img{
        min-height: 52rem;
    }
        /* bookmarks */
        #book-sell .book-img,#book-looking .book-img, #my-announcements .book-img{
            min-height:45rem;
        }
        #book-sell .book-img img,#book-looking .book-img img, #my-announcements .book-img img{
            min-height:45rem;
        }
}
@media screen and (max-width:576px){
    .book-card{
        width:160px;
    }
    .book-img{
        min-height: 32rem;  
    }
    .book-img img{
        min-height: 32rem;
    }
    /* bookmarks */
    #book-sell .book-img,#book-looking .book-img, #my-announcements .book-img{
        min-height:210px;
    }
    #book-sell .book-img img,#book-looking .book-img img, #my-announcements .book-img img{
        min-height:210px;
    }
}