@import "fonts.css";
@import "respansive.css";
html{
    font-size:10px;
}
#book-sell{
    font-family: DINPro-Medium !important;
}
.bookmarks-title{
    font-size:2.5rem;
    color:#5CB4F1;
    font-family: DINPro-Medium !important;
}
.book-sell-title,.book-looking-title{
    font-size:2rem;
    font-family: DINPro-Medium !important;
    color:#686868;
}

.not-bookmarks
{
    height: 40rem;
    padding-top: 12.7rem;
}

.not-bookmarks span
{
    font-size: 3.4rem;
    color:#707070;
    font-family: DINPro; 
}

.not-bookmarks img{
    padding-bottom: 1rem;
    width: 3.82rem;
}

.not-bookmarks button{
    margin-top: 3.5rem;
    font-family: DINPro-Medium;
    width: 18rem;
    font-size: 1.5rem;
    padding-top: .2rem;
}


