@import "fonts.css"; 
@import "respansive.css"; 

.error-404{
    font-family:DINPro-Medium !important;
    font-size:7.3rem;
    color:#686868;
}
.error-img{
    width:34.801rem;
    margin-top:2.7rem;
}
.error-button{
    width:14.5rem;
    height:4rem;
    background:#5AB5F1;
    border:none;
    border-radius:4rem;
    font-family: DINPro-Medium !important;
    color:#fff;
    font-size:1.5rem;
    margin-top:5rem;
    margin-bottom:10rem;
}

@media screen and (max-width:300px){
    .error-404{
        font-size:5.5rem;
    }
}