/* loading-bar */
.loading-bar{
    height:3.5rem;
    display:none;   
}

.loading-item{
    width:.5rem;
    height:3.4rem;
    margin:0 0.2rem;
    border-radius:.3rem;
    background:greenyellow;
    display:inline-block;
    animation:uzan 1s linear infinite;
    transform-origin:bottom;
}
.loading-item-1{
    background:#95D5FF;
    height:2.2rem;
}
.loading-item-2{
    background:#77C2F4;
    height:2.9rem;
}
.loading-item-3{
    background:#5AB5F1;
}
.loading-item-4{
    background:#95D5FF;
    height:2.2rem;
}
.loading-item-1{
    animation-delay:.1s;
}
.loading-item-2{
    animation-delay:.2s;
}
.loading-item-3{
    animation-delay:.3s;
}
.loading-item-4{
    animation-delay:.4s;
}
@keyframes uzan {
    0%{
        background:#95D5FF;
        transform:scaleY(0.1);
    }
    50%{
        background:#5AB5F1;
        transform:scaleY(1);
        height:3.4rem;
    }
    100%{
        background:#95D5FF;
        transform:scaleY(0.1);
    }
}