@import "fonts.css";
html{
    font-size:10px;
}
#message-popup{
    width:100%;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:200;
    font-family:DINPro-Medium !important;
    display:none;
}
.bg-opacity{
    width:100%;
    height:100vh;
    background:#000;
    opacity: 0.45;;
}
.message-container{
    width:72.9rem;
    position:absolute;
    top:50%;
    border-radius:1.4rem;
    left:50%;
    transform:translate(-50%,-50%);
    background:#fff;
}
#sended-message{
    display:none;
}
.sended-message{
    display:none;
}
#message-popup .message-close{
    width:1.46rem;
    cursor:pointer;
}
.message-img{
    width:16.9rem;
    height:25.3rem;
    border-radius:10px;
    min-height:25.3rem;
}
.message-img img{
    width:100%;
    max-height:25.3rem;
    border-radius:10px;
}
.message-book-name{
    font-size:2.3rem;
    font-family:DINPro-Bold;
    color:#686868;
    max-width:17rem;
    line-height:2.9rem;
    padding-top:2.2rem;
    margin:0;
}
.message-book-author{
    font-size:1.9rem;
    color:#B5B5B5;
    font-family:DINPro;
}
.message-book-price{
    font-size:2.5rem;
    color:#686868;
    font-family:jisazn;
}
.message-div{
    width:100%;
}
.message-first-col{
    border-right:.1rem solid #707070;
    padding-left:4rem !important;
    display:inline-block;
    width:37.5%;
}
.message-first-position{
    display:inline-block;
    padding-left:1.7rem;
}
.message-second-col{
    width:62%;
    display:inline-block;
}

/* second-col */

.whom-title{
    font-size:1.5rem;
    color:#686868;
    font-size:DINPro-Medium;
    padding-left:2rem;  
}
#message-popup .input-focus{
    border-radius:2rem !important;
    font-size:1.9rem;
    font-family:DINPro-Medium;
}
#message-popup .input-focus:focus{
    background:#fff;
}
#message-popup .input-container{
    border:.1rem solid #B5B5B5 !important;
    border-radius:20px !important;
    background: #fff !important;
}
#message-input{
    border:.1rem solid #B5B5B5;
    border-radius:2rem;
    outline:none;
    font-size:1.6rem;
    color:#686868;
    font-family:DINPro-Medium;
    padding:1rem;
    padding-top:1.5rem;
}
/* #message-input:focus{
    background:#eaeaea;
    border-color:#eaeaea;
} */
.message-second-col{
    padding-left:4rem !important;
    padding-right:7rem !important;
}
.message-button{
    font-size:1.9rem;
    color:#fff;
    font-family:DINPro-Medium;
    width:13.8rem;
    height:4rem;
    border:none;
    border-radius:2.7rem;
    background:#5AB5F1;
    margin-top:2.7rem;
}

/* respansive */
@media screen and (max-width:768px){
    html{
        font-size:6.5px !important;
    }
    .message-first-col{
        border:none;
        padding-left:0 !important;
        width:100%;
        text-align:center;
    }
    .message-second-col{
        width:100%;
        padding:5rem !important;
    }
    .message-first-position{
        padding-left:0;
    }
}
@media screen and (max-width:576px){
    .message-container{
        width:50rem;
    }

}
@media screen and (max-width:400px){
    html{
        font-size:6px !important;
    }
}
@media screen and (max-width:300px){
    html{
        font-size:5px !important;
    }
}


