@import "css/respansive.css"; 
button:focus{
    outline:none !important;
}
@font-face {
    font-family: 'DINPro-Medium';
    src: url('fonts/DINPro-Medium.eot');
    src: url('fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/DINPro-Medium.svg#DINPro-Medium') format('svg'),
         url('fonts/DINPro-Medium.ttf') format('truetype'),
         url('fonts/DINPro-Medium.woff') format('woff'),
         url('fonts/DINPro-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'DINPro-Bold';
    src: url('fonts/DINPro-Bold.eot');
    src: url('fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/DINPro-Bold.svg#DINPro-Bold') format('svg'),
         url('fonts/DINPro-Bold.ttf') format('truetype'),
         url('fonts/DINPro-Bold.woff') format('woff'),
         url('fonts/DINPro-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'DINPro-Black';
    src: url('fonts/DINPro-Black.eot');
    src: url('fonts/DINPro-Black.eot?#iefix') format('embedded-opentype'),
         url('fonts/DINPro-Black.svg#DINPro-Black') format('svg'),
         url('fonts/DINPro-Black.ttf') format('truetype'),
         url('fonts/DINPro-Black.woff') format('woff'),
         url('fonts/DINPro-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'DINPro';
    src: url('fonts/DINPro.eot');
    src: url('fonts/DINPro.eot?#iefix') format('embedded-opentype'),
         url('fonts/DINPro.svg#DINPro') format('svg'),
         url('fonts/DINPro.ttf') format('truetype'),
         url('fonts/DINPro.woff') format('woff'),
         url('fonts/DINPro.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
   
  
    
body{
    color:#686868 !important;
    font-family:DINPro !important;
}


/* Search */
#search p{
    color:#5AB5F1;
    font-family:DINPro-Medium;
    font-size:3.9rem;
    font-weight:400;
    margin-top:4rem;
    line-height:4.2rem;
}
#search a img{
    width:16rem;
}

#search .col-7 img{
    height:450px;
}
#search{
    position:relative;
    font-size:1.6rem;
}
#search-box{
    border:.1rem solid #DEDEDE;
    width:53.9rem;
    height:6.3rem;
    border-radius:40px;
    position:absolute;
    bottom:18%;
    padding:1.6rem;
    left:50%;
    transform:translateX(-50%);
    z-index:15;
}
#search-box input[type="text"]{
    width:90%;
    outline:none;
    position:absolute;
    top:40%;
    color:#686868;
    font-size:1.3rem;
    left:2.8rem;
    transform:translateY(-50%);
}
#search-box input:focus{
    background:#fff;
}
.search-book-title{
    font-size:2rem;
    font-family:DINPro-Medium;  
}
#search .fa-search{
    position:absolute;
    top:50%;
    height:2.2rem;
    right:2.8rem;
    transform:translateY(-50%);
}
/* Menu */
.filter{
    border-radius:40px;
    height:4rem;
    width:15.9rem;
    font-size:1.5rem;
    background:#fff;
    transition:all .2s;
    color:#686868;
    border:.1rem solid #B5B5B5;
    font-family:DINPro-Medium;
}
.filter:focus{
    outline:none;
}
.filter:hover{
    background:#5AB5F1;
    color:#fff;
    transition:all .2s;
    border:none;
}
.filter i.fa-ellipsis-v{
    margin:0 -.35rem;
}
#menu ul li{
    padding:0 .551rem;
    z-index:2;
}
#menu ul li:last-child{
    padding-right:0;
}
#menu ul li{
    cursor:pointer;
    font-size:1.8rem;
    margin:0 1.9rem;
    color:#686868;
    transition:all .2s;
    font-family:DINPro-Medium;
}
#menu ul li:hover{
    color:#5AB5F1;
    transition:all .2s;
}

/* Books */
/* .book{
    width:24.5%;
    font-size:1.1rem;

}

.price{
    font-weight:normal;
    color:#686868;
}
@font-face {
    font-family: 'jisazn';
    src: url('fonts/jaznb.ttf');
}
.money {
    font-family: 'jisazn';
    color:#686868;
}
.book-card .money, .price{
    font-size:1.5rem;
}
.author{
    font-size:1.3rem;
    color:#B5B5B5 !important;
}
.book-card{
    border-radius:1rem;
    transition:all .2s;
}
.book-img{
    position:relative;
}
.book-bg{
    position:absolute;
    top:0;
    height:100%;
    border-radius:15px;
    opacity:0;
    background:black;
    transition:all .2s;
}
.book-card h5{
    font-size:1.5rem;
    color:#686868;
}
.book-button{
    font-size:1.5rem;
    border:none;
    background:#5AB5F1;
    border-radius:40px;
    color:white;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:10%;
    display:none;
    transition:all .2s;
}
.book-footer{
    opacity:0;
    font-size:1.3rem;
    color:#B5B5B5 !important;
    transition:all .2s;
}
.book-footer i.fa-map-marker-alt{
    font-size:1.7rem;
}
.book-footer i.fa-heart{
    font-size:1.7rem;
    margin-top:.1rem;
}
.book-footer .location{
    padding-top:.3rem;
    font-size:1.3rem;
}
.book-card:hover{
    -webkit-box-shadow: 0px 3px 17px -8px rgba(112,112,112,0.69);
    -moz-box-shadow: 0px 3px 17px -8px rgba(112,112,112,0.69);
    box-shadow: 0px 3px 17px -8px rgba(112,112,112,0.69);
}
.book-card:hover .book-bg{
    opacity:0.3;
}
.book-card:hover .book-button{
    display:inline-block;
}
.book-card:hover .book-footer{
    opacity:1;
}
.book-card:hover .price{
    font-weight:bold;
}
.load-more{
    border:none;
    background:#5AB5F1;
    border-radius:40px;
    font-size:1.5rem;
    color:#fff;
} */

/* download */
#download{
    background-image:url(img/download-bg.png);
    position:relative;
    height:17rem;
}
#download p{
    position:absolute;
    font-size:3.5rem;
    font-family:DINPro-Medium;
    top:50%;
    transform:translateY(-50%);
    z-index:2;
}
#download img{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:5.6rem;
    width:16rem;
    z-index:2;
}
.download-bg{
    width:100%;
    height:17rem;
    background:#000;
    opacity:.5;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
/* owlCarusel */
.position-relative{
    position:relative;
}
.position-absolute{
    position:absolute;
}
.turn-left,.turn-right{
    top:40%;
    transform:translateY(-50%);
    border-radius:50%;
    opacity:0.5;
}
.turn-left{
    left:1%;
}
.turn-left i,.turn-right i{
    background:transparent;
}
.turn-right{
    right:1%;
}
.turn-left:hover,.turn-right:hover{
    opacity:0.9;
    transition:0.5s;
}
#new-books .bookmark{
     right:-40%;
}
/* New books */
#new-books h4,#search-book h4{
    font-size:2rem;
    font-weight:normal;
}
.new-ad-book{
    cursor:pointer;
    color:#5AB5F1;
    font-family:DINPro-Medium;
}
.most-viewed-book{
    cursor:pointer;
    font-family:DINPro-Medium;
}
#new-books h5,#new-books .price,#new-books .money{
    font-size:1.3rem;
}
#new-books .author{
    font-size:1.1rem;
}
#new-books .book-footer i.fa-map-marker-alt{
    font-size:1.3rem;
}
#new-books .book-footer i.fa-heart{
    font-size:1.3rem;
    margin-top:.1rem;
}
#new-books .book-footer .location{
    padding-top:.3rem;
    font-size:1.1rem;
}
/* Search Books */
/* .i-have-button{
    background:#5AB5F1;
    color:#fff; 
    font-size:1.5rem;
    border-radius:40px;
}
.i-have-button:hover{
    background:rgb(69, 164, 228);
    transition:all .5s;
}
#search-book h6{
    font-size:1.4rem;
}
.situation{
    font-size:1.3rem;
    color:#B5B5B5 !important;
} */


/* popup */
/* #popup{
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    display:none;
    z-index:5;
    font-family:DINPro-Medium;
}
#popup .col-7{
    padding-right:7.8rem;
}
#popup{
    color:#686868;
}
.courier-icon{
    height:3rem;
}
.popup-bg{
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    background:#000;
    opacity:.45;
}
.popup-container{
    width:72.9rem;
    background:white;
    position:absolute;
    border-radius:1.4rem;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.popup-container .close-button{
    width:2.5rem;
    height:2.5rem;
}
.popup-book{
    width:20.964rem;
    height:31.319rem;
}
.write-seller button{
    width:16.624rem;
    height:5.41rem;
    background:#5AB5F1;
    font-size:1.9rem;
    border:none;
    border-radius:2.7rem;
    color:#fff;
}
.write-seller{
    color:#B5B5B5;
    font-size:2.5rem;
}
.popup-money {
    font-family: 'jisazn';
}
.popup-price, .popup-money{
    font-size:2.5rem;
    font-weight:bold;
}
.popup-book-name{
    font-size:2.3rem;
    font-weight:bold;
}
.popup-author{
    color:#B5B5B5;
    font-size:1.9rem;
}
.popup-janr, .popup-veziyyet{
    font-size:1.9rem;
    margin:-.5rem 0;
}
.popup-janr span, .popup-veziyyet span{
    font-family: DINPro-Medium !important;
}
.popup-about-header{
    font-family: DINPro-Medium !important;
    font-size:1.8rem;
    font-weight:normal;
}
.popup-about{
    font-size:1.6rem;  
    line-height:1.8rem;     
}
.popup-footer{
    font-size:1.9rem;
    margin-bottom:4.4rem;
} */

/* ----------------------------------------------------------- */
/* filter */
/* filter */
/* #filter{
    color:#686868 !important;
    font-family:DINPro !important;
    display:none;
}
#filter input{
    font-size:1.3rem;
    color:#686868;
    outline:none;
    border:1px solid #68686894;
    border-radius:1rem;
    height:4rem;
    margin-top:.2rem;
    height:4rem;
}
#filter span{
    font-size:1.8rem;
}
#filter input::-webkit-calendar-picker-indicator {
    opacity: 1;
}
#filter hr{
    border:1px solid #B5B5B5;
} */

/* download-page */
/* #download-page{
    background:#686868;
    width:100%;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
}
#download-page .spinner-border{
    width:200px;
}
.download-container{
    position:absolute;
    color:#fff;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
#download-page p{
    font-size:3rem;
}
.download-footer{
    position:absolute;
    bottom:4%;
    left:50%;
    transform:translateX(-50%);
} */

@media screen and (max-width:576px){
    #search input{
        font-size:1.7rem !important;
    }
}









