
@font-face {
    font-family: 'DINPro-Medium';
    src: url('../fonts/DINPro-Medium.eot');
    src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINPro-Medium.svg#DINPro-Medium') format('svg'),
         url('../fonts/DINPro-Medium.ttf') format('truetype'),
         url('../fonts/DINPro-Medium.woff') format('woff'),
         url('../fonts/DINPro-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'DINPro-Bold';
    src: url('../fonts/DINPro-Bold.eot');
    src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINPro-Bold.svg#DINPro-Bold') format('svg'),
         url('../fonts/DINPro-Bold.ttf') format('truetype'),
         url('../fonts/DINPro-Bold.woff') format('woff'),
         url('../fonts/DINPro-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'DINPro-Black';
    src: url('../fonts/DINPro-Black.eot');
    src: url('../fonts/DINPro-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINPro-Black.svg#DINPro-Black') format('svg'),
         url('../fonts/DINPro-Black.ttf') format('truetype'),
         url('../fonts/DINPro-Black.woff') format('woff'),
         url('../fonts/DINPro-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'DINPro';
    src: url('../fonts/DINPro.eot');
    src: url('../fonts/DINPro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINPro.svg#DINPro') format('svg'),
         url('../fonts/DINPro.ttf') format('truetype'),
         url('../fonts/DINPro.woff') format('woff'),
         url('../fonts/DINPro.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
     font-family: 'jisazn';
     src: url('../fonts/jaznb.ttf');
  }
   
  