@import "fonts.css"; 
@import "respansive.css"; 
/* Header */
#header{
    font-size:1.5rem;
    font-family: DINPro-Medium !important;
}
#header .row{
    margin:0 !important;
}
.place-book{
    width:14.559rem;
    height:4rem;
    background:#5AB5F1;
    color:white;
    border:none;
    border-radius:4rem;
    text-align: center;
    padding-top:.5rem;
}
.header-icon{
    margin:0 .6rem;
    cursor:pointer;
}
button:focus{
    outline:none !important;
} 
.kitapp-logo{
    width:13.5rem;
}  
/* -----------user dopdown */
.relative{
    position: relative;
}
.user-dropdown{
    position: absolute;
    top:100%;
    right:50%;
    transform:translateX(50%);
    z-index:60;   
    display:none;
}
.user-list{
    border:.1rem solid #EFEFEF;
    border-radius:1rem;
    font-size:1.5rem;
    background:#fff !important;
    padding:1.2rem 0;
    color:#B5B5B5;

}
.user-list-item{
    padding:.2rem 2rem;
    cursor:pointer;
}
.user-list-item:hover{
    background:#EFEFEF;
    color:#707070;
}
/* ----------notification */
.not-count{
    position:absolute;
    top:-15%;
    right:-5%;
    border:none;
    font-family:DINPro-Medium;
    background:#fff;
    font-size:.8rem;
    border-radius:50%;
    border:.1rem solid #5EB3F1;
    color: #5EB3F1;
    padding:.1rem .45rem .001rem .45rem;
}

/* footer */
#footer{
    z-index:1;
}
#footer div p{
    font-family:DINPro-Medium !important;
    font-size:1.9rem;
    height:2.491rem;
    margin:0;
    margin-top:.5rem;
    color:#686868;
}
#footer .copyright{
    width:2.491rem;
    margin-bottom:1rem;
    margin-right:.8rem;
}
.join{
    color:#686868;
    font-size:1.5rem;
    font-family:DINPro-Medium !important;
}
.mobile-display-none{
    display:inline-block;
}
/* burger menu button */
#burger-menu-button{
    display:none;
}
#burger-menu-button img{
    width:4rem;
    padding-top:.5rem;  
    cursor:pointer;
}
/* burger menu */
#burger-menu{
    height:100%;
    width:0;
    top:0;
    right:0;
    position:fixed;
    background:#5EB3F1;
    font-family:DINPro-Medium;
    z-index:200;
    text-align:center;
    font-size:3.9rem;
    color:#fff;
    transition:all 1s;
}
#burger-menu .burger-menu-close{
    position:absolute;
    display:none;
    top:3rem;
    right:3rem;
    width:3rem;
    cursor:pointer;
}
.burger-menu-list{
    display:none;
    width:300px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.burger-menu-list-item{
    cursor:pointer;
    transition:all .5s;
    padding:.2rem;
}
.burger-menu-list-item:hover{
    color:#5EB3F1;
    background:#fff;
}

@media screen and (max-width:576px){
    .mobile-display-none{
        display:none;
    }
    #burger-menu-button{
        display:inline-block;
    }
}




@media screen and (max-width:450px){
    html{
        font-size:5px;
    }
    .user-list{
        font-size:3rem;
        z-index: 30;
    }
    .user-dropdown{
        right:12 0%;
    }
}


