@import "fonts.css";
html{
    font-size:10px;
}
#sended-message{
    font-family:DINPro-Medium;
    width:53.9rem;
    background:white;
    border-radius:1.4rem;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.sended-message{
    font-family:DINPro-Medium;
    width:53.9rem;
    background:white;
    border-radius:1.4rem;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.sended-message-title{
    margin-top:5rem;
    margin-bottom:2rem;
    color:#686868;
    font-size:3.5rem;
}
#sended-message img{
    width:36.1rem;
    margin-bottom:6rem;
}
.sended-message img{
    width:36.1rem;
    margin-bottom:6rem;
}