
/* ----------------------------------------------------- SIGN IN , SIGN UP PAGE ------------------------------------------------------------------------ */


#sign-in-up{
    padding: 0 3rem;
}

#sign-in-up .first-col{
    display: none;

}
#sign-in-up .sign-card{
    box-shadow: none !important;
}

#sign-in-up .sign-header {
    margin: 0;
}

#sign-in-up .sign-header a{
    display: flex;
    align-items: center;
}

#sign-in-up .sale-buy{
    display: none;
}
#sign-in-up .sign-bg{
    display: none;
}


#sign-in-up .signin-signup{
    margin-top: 5rem;
}

#sign-in-up input{
    height: 54px !important;
    border-radius: 27px !important;
    font-size: 16px !important;
    padding-top: .5rem !important;
}

#sign-in-up .label{
    font-size: 20px !important;
}

#sign-in-up .forget-password{
    font-size: 20px !important;

}
#sign-in-up .signin-up-or{
    font-size: 16px !important;

}
#sign-in-up .not-account,#sign-in-up .there-is{
    font-size: 16px !important;

}
#sign-in-up .accept{
    font-size: 20px !important;

}

.sign-header{
    display: block;
    padding-top: 2rem;
}
#sign-in-up .signin-up-facebook, #sign-in-up .signin-up-google {
    height: 54px;
    width: 100%;
    border-radius: 27px;
    font-size: 20px;
    margin: 1.5rem 0;
}
/* ---------- FORGET PASSWORD */


.popup-forget-container{
    height: 35rem;
}

#forget-password .forget-password-email{
    height: 45px !important;
    width: 45rem;
    font-size: 2.5rem;
    border-radius: 27px;

}

#forget-password  .close-button{
    width: 3rem;
}
#forget-password .send-button{
    height: 45px;
    border-radius: 27px;
    font-size: 3rem;
}

/* MESSAGE DONE  */

.done-container{
    height: 18rem;
}

.done-container p {
    font-size: 3rem;
}

.done-container .tick{
    width: 5rem;
    height: 4rem;
}