
/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */

/* --------- CATEGORY ----------- */


#menu{
    position: relative;
    z-index: 7;
    display: flex;
    justify-content: center;
}

.category-container{
    display: flex;
    width: 100%;    
    padding: 0;
    justify-content: flex-end;
}

#menu .category-list{
    position: absolute;
    display: none;
    flex-direction: column;
    right: 0;
    top: 100%;
    background: white;
    padding: 1.5rem;
    border-radius: 1rem;
    -webkit-box-shadow: 10px 10px 68px -34px rgba(0,0,0,0.4);
    -moz-box-shadow: 10px 10px 68px -34px rgba(0,0,0,0.4);
    box-shadow: 10px 10px 68px -34px rgba(0,0,0,0.4);
    transition: all .5s;
}

#menu .category-icon{
    width: 3rem;
    cursor: pointer;
}

.active-category-list{
    display: flex !important;
}

.filter{
    height: 7rem;
    margin: 3rem 0;
}

#filter .filter-items{
    display: flex;
    justify-content:center;
    margin-left: 0;
    margin-right: 0;
}

#filter .filter-items{
    display: flex;
    justify-content:center;
}




/* --------- POPUP ----------- */
.popup-bg{
    height:200rem;
}

#popup .popup-book-name{
    width: 20rem; 
}

/* ------- SATICIYA MESAJ POPUP */

.message-second-col textarea{
    height: 20rem;
}
.message-first-col{
padding: 0 !important;    
}
.message-second-col{
padding: 2rem !important;
}
.whom-title {
    font-size: 2rem;
}

/* ----------------------------------------------------- SIGN IN , SIGN UP PAGE ------------------------------------------------------------------------ */
#sign-in-up form{    
    width: 100%;
}

/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN ------------------------------------------------------------------------ */






















/* ----------------------------------------------------- MAIN PAGE ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN PAGE ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN PAGE ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN PAGE ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN PAGE ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN PAGE ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN PAGE ------------------------------------------------------------------------ */
/* ----------------------------------------------------- MAIN PAGE ------------------------------------------------------------------------ */
